.project-page-image{
    background-image:url(IMAGES/JA_kotlow.png);
}

#site-logo{
    color: white;
}

#Ja_kotlow_link{
    color: black;
    text-align: center;
    font-size: 2rem;
}

#Ja_kotlow_link:hover{
    color: green;
}