/* --- Home page --- */
.project-posters{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    scroll-snap-align: center;
    scroll-snap-stop: always;
}
.view-button{
    font-family: 'kanit', sans-serif;
    font-weight: bold;
    font-size: 6em;

    background: rgba(255, 255, 255, 0.2);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color:transparent;
}
#project-poster-scroll-zone{
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}
#project-poster-scroll-zone::-webkit-scrollbar{
    display: none
}
#marquee-contianer{
    --gap:1rem;
    position: absolute;
    bottom: 0px;
    width: 100vw;
    display: flex;
    overflow: hidden;
    gap: var(--gap);

    background: rgba(255, 255, 255, 0.2);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
}
#marquee-content{
    margin: 0;
    padding: 0 ;
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    min-width: 100%;
    gap: var(--gap);

    animation: scroll-left 20s linear infinite;
}
.marquee-buttons{
    color: black;
    font-family: 'kanit', sans-serif;
    font-weight: 900;
    font-size: 4em;
}
#project-poster-1{
    /* background-image: url(images/Screenshot\ 2023-04-13\ at\ 13.29.43.png); */
    background-color: blue;
}
#project-poster-2{
    /* background-image: url(images/PastryKnight-StrawberryFieldsBattle-2-11-22-2.png); */
    background-color: red;
}
#project-poster-3{
    /* background-image: url(images/maxresdefault-4.jpg); */
    background-color: blueviolet;
}
#project-poster-4{
    /* background-image: url(images/641970-2.jpg); */
    background-color: green;
}
#project-poster-5{
    /* background-image: url(images/1248088\ copy.png); */
    background-color: orange;
}

/* --- Animeation --- */
@keyframes scroll-left {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX( calc(-100% - var(--gap)));
    }   
}