body{
    background-color: beige;
}
#site-logo-strip{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
}
#project-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    width: 90%;
    margin: 5%;
}
.project-card{
    border-radius: 10px;
    aspect-ratio: 16 /9 ;
    width: max;
    grid-row: 1 / -1;
    grid-column: 1 / -1;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    background-color: coral;
    
    transition: transform 300ms ease;
}

#project-card-1{
    background-image: url(IMAGES/Screenshot\ 2023-04-17\ at\ 23.45.44.png);
    background-size: cover;
    background-repeat: none;
}

#project-card-2{
    background-image: url(IMAGES/PastryKnight-Bakery-SplashScreen\ copy.png);
    background-size: cover;
    background-repeat: none;
}

.project-card-container{
    position: relative;
    display: grid;
    grid-template:repeat(3, 1fr) / repeat(3, 1fr);
}

/* --- grid sections on the squares --- */
.perspective-grid{
    z-index: 10;
    position: absolute;
    /* outline: 1px solid pink; */
}
.project-card-container >div:nth-child(1){
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    inset: 0;
}
.project-card-container >div:nth-child(2){
    grid-column: 2 / 3;
    grid-row: 1 /2;
    inset: 0;
}
.project-card-container >div:nth-child(3){
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    inset: 0;
}
.project-card-container >div:nth-child(4){
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    inset: 0;
}
.project-card-container >div:nth-child(5){
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    inset: 0;
}
.project-card-container >div:nth-child(6){
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    inset: 0;
}
.project-card-container >div:nth-child(7){
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    inset: 0;
}
.project-card-container >div:nth-child(8){
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    inset: 0;
}
.project-card-container >div:nth-child(9){
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    inset: 0;
}

/* --- Whole lot of hovers --- */
.perspective-square-1:hover ~ .project-card{
    transform: 
    perspective(5000px)
    scale(1.03)
    rotateY(-15deg)
    rotateX(15deg);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.perspective-square-2:hover ~ .project-card{ 
    transform: 
    perspective(5000px)
    scale(1.03)
    rotateY(0deg)
    rotateX(15deg);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
}
.perspective-square-3:hover ~ .project-card{
    transform: 
    perspective(5000px)
    scale(1.03)
    rotateY(15deg)
    rotateX(15deg);
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.5);
}
.perspective-square-4:hover ~ .project-card{
    transform: 
    perspective(5000px)
    scale(1.03)
    rotateY(-15deg)
    rotateX(0deg);
    box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.5);
}
.perspective-square-5:hover ~ .project-card{
    transform: 
    perspective(5000px)
    scale(1.03)
    rotateY(0deg)
    rotateX(0deg);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}
.perspective-square-6:hover ~ .project-card{
    transform: 
    perspective(5000px)
    scale(1.03)
    rotateY(15deg)
    rotateX(0deg);
    box-shadow: -5px 0px 5px rgba(0, 0, 0, 0.5);
}
.perspective-square-7:hover ~ .project-card{
    transform: 
    perspective(5000px)
    scale(1.03)
    rotateY(-15deg)
    rotateX(-15deg);
    box-shadow: 5px -5px 5px rgba(0, 0, 0, 0.5);
}
.perspective-square-8:hover ~ .project-card{
    transform: 
    perspective(5000px)
    scale(1.03)
    rotateY(0deg)
    rotateX(-15deg);
    box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.5);
}
.perspective-square-9:hover ~ .project-card{
    transform: 
    perspective(5000px)
    scale(1.03)
    rotateY(15deg)
    rotateX(-15deg);
    box-shadow: -5px -5px 5px rgba(0, 0, 0, 0.5);
}