body{
    background-color: beige;    
}
*{
    font-family: 'kanit', sans-serif;
}
p{
    font-size: 1.3rem;
}
h2{
    font-size: 2.5rem;
}
img{
    aspect-ratio: 16 /9 ;
}
.project-page-author-detail p{
    font-size: 1.5rem;
}
#site-logo-strip{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
}
.project-page-image{
    aspect-ratio: 16 /9 ;
    width: 100vw;
    background-color: blue;
    background-size: cover;
}
.project-page-text-section{
    margin: -25vh 2% 0 2%;
    background-color: white ;
    width: 96vw;
    height: max-content;
    border-radius: 10px;
    /* border: 2px solid black; */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
}
.project-page-text{
    margin: 0 2% 0 2%;
}
.project-page-text > iframe{
    aspect-ratio: 16/9;
    width: 100%;
}
.project-page-text > h1{
    padding-top: 2%;
    padding-left: 2%;
    font-size: 2.5rem;
}
.project-page-summary{
    margin: 0 0 0 5%;
}
.summary-grid{
    display: grid;
    grid-template-columns: 20%  80%;
}
.project-page-author-detail{
    border-right: 2px solid black;
}

/* WHY THE FICKITY FUCK IT NO  WORK */
.not-iframe {
    width: 50%;
    position: relative;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.main_text_grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 40px;
    margin: 40px 0;
}
.main_text_grid_text{
    text-align: center;
    margin: auto;
}
.main_text_grid_text_no_vert{
    text-align: justify;
}
.main_text_grid_list{
    margin: auto;
}